body {
            font-family: 'M PLUS 1p', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #F8F8F8; /* Светло-серый */
            color: #333333; /* Темно-серый текст */
            line-height: 1.6;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
            font-size: 36px;
            font-weight: bold;
        }

        .section {
            width: 80%;
            margin: auto;
        }

        .section h2 {
            font-size: 20px;
            margin-bottom: 20px;
            text-align: left;
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            justify-content: space-between;
        }

        .card {
            flex: 1 1 calc(25% - 25px); /* 4 cards per row with gaps */
            max-width: calc(25% - 25px);
            border: 1px solid #ddd;
            border-radius: 15px;
            overflow: hidden;
            text-align: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            justify-content: center;
            align-items:center;
        }

        .card img {
            width: 60%;
            height: auto;
            object-fit: cover;
        }

        .card .text {
            padding: 10px;
        }

        .card .text p:first-child {
            margin: 0;
            font-size: 14px;
            color: #555;
        }

        .card .text p:last-child {
            margin: 5px 0 0;
            font-size: 16px;
            font-weight: bold;
        }

        @media (max-width: 768px) {
            h1 {
                font-size: 28px;
            }

            .section h2 {
                text-align: center;
            }

            .cards {
                flex-direction: column;
                align-items: center;
            }

            .card {
                flex: 1 1 100%;
                max-width: 100%;
            }
        }
