/* Общие стили */
body {
    font-family: 'M PLUS 1p', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F8F8; /* Светло-серый */
    color: #333333; /* Темно-серый текст */
    line-height: 1.6;
}

/* Хедер */
header {
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}



header img {
    height: 40px;
    width: auto;
    margin-left: 15px;
}

/* Меню навигации в хедере */
nav {
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    color: black;
}

/* Основной контент */
section {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background: #FFFFFF; /* Белый фон секций */
    border-radius: 8px;
    
}

/* Стили для кнопки */
button {
    display: block;
   
    background-color: #404040;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px;
}

button:hover {
    background-color: #87C9A4; /* Более насыщенный зеленый */
}

/* Футер */
footer {
    text-align: center;
    padding: 10px;
    background-color: #FFFFFF; /* Белый фон */
    margin-top: 20px;
    color: #333333;
    font-size: 0.9rem;
}
