body {
    font-family: 'M PLUS 1p', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F8F8; /* Светло-серый */
    color: #333333; /* Темно-серый текст */
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.section {
    width: 80%;
    margin: auto;
}

.section h2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center; /* Центрирование карточек */
}

.card {
    flex: 1 1 calc(25% - 25px); /* 4 карточки в строке с учётом промежутков */
    max-width: calc(25% - 25px);
    border: 1px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    text-align: left; /* Выравнивание текста по левому краю */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Контент располагается вертикально */
    justify-content: flex-start; /* Контент сверху */
    height: 300px; /* Фиксированная высота для карточек */
    padding: 15px; /* Внутренние отступы */
    text-aligh: center;
}

.card img {
    max-height: 150px;
    width: 100%; /* Изображение занимает всю ширину карточки */
    margin-bottom: 15px; /* Расстояние между изображением и текстом */
    border-radius: 10px; /* Сглаживание углов */
    padding: 6px;
}

.card .text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравнивание текста по левому краю */
    text-align: center;
}

.card .text p:first-child {
margin: 0;
font-size: 15px;
color: #555;
font-weight: bold;
text-align: center;
}
}

.card .text p:last-child {
font-size: 14px;
text-align: center;
margin: 10px;
}

.calculate-button1{
    margin: 30px;
}

@media (max-width: 938px) {
    h1 {
        font-size: 28px;
    }

    .section h2 {
        text-align: center;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        flex: 1 1 300px; /* Фиксированная ширина карточки */
        max-width: 300px;
        height: 300px; /* Фиксированная высота карточки */
    }

    .card img {
        max-height: 150px; /* Поддержание пропорций изображения */
        width: 100%; /* Картинка занимает ширину карточки */
    }
}
