/* Общие стили */
body {
    font-family: 'M PLUS 1p', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F8F8; /* Светло-серый */
    color: #333333; /* Темно-серый текст */
    line-height: 1.6;
}

/* Хедер */
header {
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

header img {
    height: 40px;
    width: auto;
    margin-left: 15px;
    margin-top: 10px;
}

/* Меню навигации в хедере */
nav {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    color: black;
}

.language-switcher {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.current-lang {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

.current-lang:hover {
    background-color: #F0F0F0;
}

.dropdown {
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%; /* Position below the current-lang */
    left: 0;
    background-color: white;
    
    border-radius: 5px;
    z-index: 100;
}

.dropdown a {
    text-decoration: none;
    color: #333;
    padding: 8px 12px;
    display: block;
    transition: background-color 0.2s ease;
}

.dropdown a:hover {
    background-color: #F0F0F0;
}

/* Основной контент */
#intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
  
}

#intro .content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

#intro .text {
    flex: 1 1 50%; /* Задает половину секции для текста */
}



#intro .text p {
    font-size: 1.2rem;
    color: #404040;
    margin-bottom: 20px;
}


#intro .image {
    flex: 1 1 50%; /* Задает половину секции для изображения */
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro .image img {
    max-width: 100%;
    height: auto;
}


/* Стили для кнопки */
button {
    display: block;
   
    background-color: #404040;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px;
}

button:hover {
    background-color: #black; 
}

/* Футер */
footer {
    text-align: center;
    padding: 10px;
    background-color: #FFFFFF; /* Белый фон */
    margin-top: 20px;
    color: #333333;
    font-size: 0.9rem;
}
